<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_FUNCTIONS_URL</key>
	<string>https://qvdwkelgpsybftaisbsg.supabase.co/functions/v1</string>
	<key>SUPABASE_PUBLISHABLE_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF2ZHdrZWxncHN5YmZ0YWlzYnNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5MTA2NzUsImV4cCI6MjA5MjQ4NjY3NX0.IGAm0peoJgVjdM37RpeL86KpvdQEs2MtjxkKBVmvsxM</string>
	<key>SUPABASE_URL</key>
	<string>https://qvdwkelgpsybftaisbsg.supabase.co</string>
</dict>
</plist>
